@page "/eventandlan"
@using MajornaGameStore.DataAccess.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject NavigationManager NavManager
@inject EventsViewModel ViewModel
<style>
    body {
        background-image: url(https://majornastorage.blob.core.windows.net/images/GamrGrottanLAN.png);
    }
</style>

<PageTitle>Events and LAN</PageTitle>


@if (_pageLoading)
{
    <p>Loading...</p>
    <Spinner />
}
else
{
    <Toasts class="p-3" Messages="messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.TopRight" />
    <div class="container">
    <div class="row">
        <h3 class="text-center">Kommande LAN & Events</h3>
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                <Virtualize Items="ViewModel.Models">
                    <li class="list-group-item mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <dl>
                                    <dt>
                                        @context.Name
                                    </dt>
                                    <dd>
                                        - @context.Description  
                                    </dd>
                                    <dd>
                                        - @context.Price KR
                                    </dd>
                                    <dd>
                                        - Datum: @context.Start 
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6 text-right">
                                <button id="Goto" class="btn btn-outline-primary" style="margin-right: 10px" @onclick="@(async () => await GoToDetailsAsync(context.Id))">Mer Om Event</button>
                                @if (context.SpotsLeft >= 1)
                                {
                                    <button id="addcart" class="btn btn-outline-success ml-2" @onclick="@(async () => await ViewModel.AddToCartAsync(context, 1))">Lägg Till I Kundvagn</button>
                                }
                                @if (context.SpotsLeft == 0)
                                          {
                                              <button id="disabledBtn" class="btn btn-outline-secondary disabled">Lägg Till I Kundvagn</button>
                                          }
                                
                                <div  style="align-items:flex-end; color: darkred">@context.SpotsLeft biljetter kvar!</div>
                            </div>
                        </div>
                    </li>
                </Virtualize>
            </ul>
        </div>
    </div>
    </div>



}



@code
{
    bool _pageLoading = true;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ViewModel.OnInit();
            _pageLoading = false;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    private async Task GoToDetailsAsync(int Id)
    {
        NavManager.NavigateTo($"/eventDetail/{Id}");
    }

    List<ToastMessage> messages = new List<ToastMessage>();

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
        => new ToastMessage
            {
                Type = toastType,
                HelpText = $"{DateTime.Now}",
                Message = $"Produkt tillagd i kundvagn!",
            };



}

